@page "/game/{NumLettersString}/{LanguageString}"
@using src.Components
@using Microsoft.AspNetCore.Components.Web
@inject IJSRuntime js



<PageTitle>Index</PageTitle>


<center>
<div class="container-fluid" style="margin-bottom: 22px; margin-top: 35px;"  @onkeydown="KeyboardEventHandler" tabindex="0" @ref="inputDiv" @onblur="lostFocus" >

        <div class="card-body" style=" height:90vh">

            <div class="game-container">
                <div class="grid-container" style="grid-template-columns:repeat(@NumLetters, 80px);">
                    
                    @foreach(Tile tile in tileList){
                            <div class="grid-item">
                                <li style="display: inline-block; margin-right:5px;" > <TileComponent Tile=@tile/> </li>
                        </div>
                        }
                </div>
            </div>

            &nbsp;
            &nbsp;
            
            <div class="keyboard">
                <span class="row">
                    @{string firstRow = "QWERTYUIOP";}
                    @foreach(Button button in buttonList){
                        if(firstRow.Contains(button.sId)){
                            <span class="buttonDiv"style="height:50px; width:40px;" @onclick="@(e => ButtonEventHandler(@button.sId))">
                                <ButtonComponent Button=@button/>
                            </span>
                        }
                    }
                </span>
                <span class="row">
                    @{string secondRow = "ASDFGHJKL";}
                    @foreach(Button button in buttonList){
                        if(secondRow.Contains(button.sId)){

                            if(button.sId == "A"){
                                <span class="leftSpacer" style="width: 20px; height:60px;"></span>
                            }   

                            <span class="buttonDiv"style="height:50px; width:40px;" @onclick="@(e => ButtonEventHandler(@button.sId))">
                                <ButtonComponent Button=@button/>
                            </span>

                            if(button.sId == "L" ){
                                <span class="rightSpacer" style="width: 20px; height:60px"></span>
                            } 
                        }
                    }
                </span>
                <span class="row">
                    @{string thirdRow = "enterZXCVBNMbackspace";}
                    @foreach(Button button in buttonList){
                        if(thirdRow.Contains(button.sId)){
                            <span class="buttonDiv"style="height:50px; width:40px;" @onclick="@(e => ButtonEventHandler(@button.sId))">
                                <ButtonComponent Button=@button/>
                            </span>
                        }
                    }
                </span>
            </div>
        </div> 

</div>
</center>
