@using src.Components


@switch (@Tile.State)
{
   
    case "contained":
        <table style="background-color:rgba(251,196,0, .8);">
            <tr>
                <td id=@Tile.tileId>@Tile.Letter</td>
            </tr>
        </table>
    break;

    case "doubleGreen":
        <table style="background: linear-gradient(45deg, #71ddf3 20%, rgb(4 170 109) 80%);">
            <tr>
                <td id=@Tile.tileId>@Tile.Letter</td>
            </tr>
        </table>
    break;

    case "doubleYellow":
        <table style="background: linear-gradient(45deg, #71ddf3 20%, rgb(251 196 0 / 80%) 80%);">
            <tr>
                <td id=@Tile.tileId>@Tile.Letter</td>
            </tr>
        </table>
    break;

    case "missing":
        <table style="background-color:rgba(0,0,0, .4);">
            <tr>
                <td id=@Tile.tileId>@Tile.Letter</td>
            </tr>
        </table>
    break;

    case "correct":
        <table style="background-color:rgba(4,170,109, 1);">
            <tr>
                <td id=@Tile.tileId>@Tile.Letter</td>
            </tr>
        </table>            
    break;

    default:
        <table style="background-color:#333;">
            <tr>
                <td id=@Tile.tileId>@Tile.Letter</td>
            </tr>
        </table>    
    break;

}






